.price {

  .price-contents {

    table {
      width: 100%;
      margin: 0 auto;
      border-spacing: 0;
      tr {
        // ★ //
        &:nth-child(n+2):nth-last-child(n+2) {
          height: 6rem;
          line-height: 6rem;
          td {
            &:first-child {
              padding-left: 2rem;
              text-align: left;
            }
            &:nth-child(3) {
              font-size: 3rem;
              font-weight: 700;
            }
          }
        }

        &:nth-child(even) {
          background-color: cl(pale-purple);
        } 

        th {
          // ライトとプレミアム
          &:nth-child(even) {
            background-color: cl(try-black);
            .price-free-btn {
              color: cl(try-black);
              background-color: cl(white);
            }
          }
            // ベーシック
            &:nth-child(3) {
              background-color: cl(purple);
              .price-free-btn {
                border: 2px solid cl(white);
                background-color: cl(purple);
                color: cl(white);
              }
            }
        }

          // 共通
          .type {
            font-size: 2.4rem;
            margin: 4rem 0 1.7rem 0;
            color: cl(white);
          }
          .money {
            font-size: 1.8rem;
            margin-bottom: 2.8rem;
            color: cl(white);
            span {
              font-size: 3.6rem;
              color: cl(white);
            }
          }
          .price-free-btn {
            display: inline-block;
            font-size: 1.8rem;
            padding: 1.2rem 4.5rem;
            border-radius: 2rem;
            color: cl(white);
            margin-bottom: 3rem;
          }
      }

      td {
        font-size: 2.2rem;
        text-align: center;
        
      }

      &:last-child {
        td {
          padding-top: 1.5rem;
          &:nth-child(even) {
            .price-free-btn {
              color: cl(try-black);
              background-color: cl(white);
              border: 2px solid cl(try-black);
              margin-bottom: 0;
            }
          }
          &:nth-child(3) {
            .price-free-btn {
              color: cl(white);
              background-color: cl(purple);
              border: 2px solid cl(try-black);
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
