.top {
  background-color: cl(pale-purple);
  .top-contents {
    display: flex;
    justify-content: space-between;
    .top-texts {
      width: 60%;
      .top-heading {
        font-size: 6rem;
        font-weight: 700;
        margin-top: 11.7rem;
      }
      .top-explanation {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3.2rem;
        margin: 2.4rem 0 4rem 0;
      }
      .free-btn {
        display: inline-block;
        margin-right: 3.7rem;
        font-size: 1.8rem;
        font-weight: 700;
        background-color: cl(purple);
        color: cl(white);
        padding: 1.2rem 2.6rem;
        border-radius: 2rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
      }
      .download {
        font-size: 1.8rem;
        font-weight: 700;
        background-color: cl(white);
        color: cl(purple);
        padding: 1.2rem 2.6rem;
        border: 2.5px solid cl(purple);
        border-radius: 2rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
      }
    }
    .top-image {
      img {
        width: 51.5rem;
      }
    }
  }
}