.footer {
  background-color: cl(black);
  padding: 2.7rem 0;
  .footer-contents {
    display: block;
    text-align: center;
    @include overTab {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      text-align: left;
    }
    .footer-left {
      .footer-logo {
        font-size: 2.4rem;
        color: cl(white);
        margin-bottom: 1rem;
      }
      .nav-list {
        margin-bottom: 1rem;
        @include overTab {
          display: flex;
        }
        .nav-item {
          font-size: 1.4rem;
          margin-bottom: 1rem;
          @include overTab {
            margin-right: 1.5rem;
          }
          a {
            color: cl(white);
          }
        }
      }
      small {
        color: cl(white);
        span {
          color: cl(white);
          padding-left: 1rem;
        }
      }
    }

    .footer-right {
      margin-bottom: 2rem;
      @include overTab {
        margin-bottom: 0;
      }
      .sns-text {
        color: cl(white);
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }
      .sns-list {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 24%;
        @include overTab {
          width: 100%;
        }
        .sns-item {
          @include overTab {
            margin-right: 1.5rem;
          }
          a {
            i {
              color: cl(white);
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}